ul {
  list-style: none;
}
h3,
h4 {
  font-size: 10px;
}
.weatherButton {
  background: #c42677;
  color: black;
  padding: 10px 20px;
  margin-bottom: 20px;
  display: inline-block;
  border-radius: 8px;
  border: transparent;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  transition: 200ms ease-in-out;
}
.weatherButton:hover {
  opacity: 0.9;
  cursor: pointer;
}

.pagesize {
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 30px;
  margin: 5% -2%;
  background: linear-gradient(
    0deg,
    rgba(195, 34, 118, 1) 0%,
    rgba(228, 204, 40, 0.47939262472885036) 100%
  );
}
.firstTemperatureEmoji {
  text-align: center;
  font-size: 50px;
}
.Today {
  font-size: 17px;
  text-align: center;
}
.wholeWeek {
  padding-top: 20px;
  padding-bottom: 30px;
}
.codeLink {
  text-decoration: none;
}
.wholeWeekDay {
  font-size: 17px;
  text-align: center;
}
